/*
* Define there your server access constants
*/
const BASE_URL = "https://devmatrix.linkpc.net";
const USER_ID = "devmatrix.linkpc.net";
const testPass = "some-pass-123"

const testUsers = {
    user:"@user:devmatrix.linkpc.net",
    user1:"@user1:devmatrix.linkpc.net",
    someUser3:"@someuser3:devmatrix.linkpc.net",
    someUser4:"@someuser4:devmatrix.linkpc.net",
    someUser5:"@someuser5:devmatrix.linkpc.net",
}